{% extends 'base.html.twig' %}

{% block title %}MAJ TABLES{% endblock %}

{% block body %}

    <div class="container mx-auto my-5">
        <a href="{{ path("app_dataUpdate")  }}" >Mettre à jour la base de donnée</a>
    </div>

{% endblock %}
