{% extends 'base.html.twig' %}

{% block title %}DataController{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mx-auto my-5">Résultats de la mise à jours:</h1>
        <p class="mx-auto my-4 text-justify text-uppercase font-weight-bold">{{ result }}</p>
    </div>
    
{% endblock %}
