{% extends 'base.html.twig' %}

{% block title %}DataController{% endblock %}

{% block body %}

    <div class="container w-50 mx-auto my-5">
        <h1 class="bg-primary my-5 py-2 text-center">Résultats de la mise à jours:</h1>
        <h2 class="bg-secondary py-4 text-center text-uppercase font-weight-bold">{{ result }}</h2>
    </div>
    
{% endblock %}
